<div>
    <h1>Game Log</h1>

    <table id='comments'>
        <!-- Dynamically add the following:
        <tr>
            <td>{{username}}</td>
            <td>{{comment}}</td>
        </tr>
        -->
    </table>

    <form class='form-comment' method='POST'>
        <label for='phrase'>Leave a comment!</label>
        <textarea id='phrase' rows='2' name='phrase'></textarea>
        <button class="btn btn-md btn-primary btn-block" type="submit">Send Comment</button>
    </form>

    <div>
        <a href='/dashboard'>Back to Dashboard</a>
    </div> 
</div>
