<div>
    <h1>Game Log</h1>

    <table id='comments'>
       {{#each comment}}
            <tr>
                
                <td>{{this}}</td>

                <td>{{this}}</td>

            </tr>
        {{/each}}
    </table>

    <form class='form-comment' action='/comments' method='POST'>
        <label for='phrase'>Leave a comment!</label>
        <textarea id='phrase' rows='2' name='phrase'></textarea>
        <button class="btn btn-md btn-primary btn-block" type="submit">Send Comment</button>
    </form>

    <div>
        <a href='/dashboard'>Back to Dashboard</a>
    </div> 
</div>
