<div>
    <h1>Game Log</h1>

    {{#if gameWon}}
    <p>You won this game!</p>
    {{else}}
    <p>You lost this game!</p>
    {{/if}}

    <ul id='comments'>
        {{#each comments}}
        <li>{{this.commenter.name}} : {{this.comment}}</li>
        {{/each}}
    </ul>

    <form class='form-comment' action='/comments' method='POST'>
        <label for='phrase'>Leave a comment!</label>
        <textarea id='phrase' rows='2' name='phrase'></textarea>
        <button class="btn btn-md btn-primary btn-block" type="submit">Send Comment</button>
    </form>

    <div>
        <a href='/dashboard'>Back to Dashboard</a>
    </div>

    <script src='/public/js/comments.js'></script>
</div>