<div class="container-fluid">
    <h1>Welcome to Hangman!</h1>
    <div>
        <form id = "selectThemeForm">   
            <div class="form-group">
                <label>Select your theme</label><br>
                <select id="theme" name="phrase">
                    <option>camping</option>
                    <option>beach</option>
                </select><br>
                <select id="game-theme">
                    <!-- dynamically fill options with fetched themes -->
                </select><br>
                <button type="submit">Submit</button>                
            </div>


            <div id='chances'></div>
            {{#if 6_left}}
                <img src='/public/img/6_left.png'> 
            {{/if}}
            {{#if 5_left}}
                <img src='/public/img/5_left.png'> 
            {{/if}}
            {{#if 4_left}}
                <img src='/public/img/4_left.png'> 
            {{/if}}
            {{#if 3_left}}
                <img src='/public/img/3_left.png'> 
            {{/if}}
            {{#if 2_left}}
                <img src='/public/img/2_left.png'> 
            {{/if}}
            {{#if 1_left}}
                <img src='/public/img/1_left.png'> 
            {{/if}}
            {{#if 0_left}}
                <img src='/public/img/0_left.png'> 
            {{/if}}
            
            <div>
                <p id='playgame'>Select theme and submit to start a game</p>
            </div>
            
            <div id="wordStatus"></div>
            
            <div id="keyboard"></div>
            
        </form>
        <div>
            <button onclick="reset()">New word</button>
        </div>
    </div>
    <script src='/public/game.js'></script>
</div>