<div>
    <h1>High Scores</h1>

    <table id='highscores'>
        <tr class='table-header'>
            <td>Rank</td>
            <td>Username</td>
            <td># Wins</td>
        </tr>
    <!-- additional tr entries should be dynamically filled -->
    </table>

    <p>High scores will be displayed on this page.</p>

    <div>
        <a href='/dashboard'>Back to Dashboard</a>
    </div> 
</div>
