<div class="container-fluid">
    <h1>High Scores</h1>

    <table id='highscores'>
        <tr class='table-header'>
            <td>Rank</td>
            <td>Username</td>
            <td># Wins</td>
        </tr>
    <!-- additional tr entries should be dynamically filled -->
    </table>

    <script src='/public/highscores.js'></script>
</div>
