<div class="container-fluid">
    <h1>{{user.firstName}} Profile</h1>
    <p>Profile data should be displayed on this page. This includes win percentage, recent games played.
    </p>

    <h4>Profile Statistics</h4>
    <table id='profile-stats-wins'>
        <tr class='table-header'>
            <td>Win Total</td>
            <td>Total Games</td>
            <td>Win Percentage</td>
        </tr>
        <tr>
            <td>Games Won</td>
            <td>Games Played</td>
            <td>W/L Ratio</td>
            
             {{!-- Fix this to display the ratio, gota use handlebars helpers or something like that --}}
            {{!-- {{#ifEquals user.gamesPlayed.length 0}}
            <td> {{user.gamesWon / user.games.length}} </td>
            {{else}}
            <td> N/A </td>
            {{/if}} --}}
        </tr>
    </table>

    <h4>Recent Games</h4>
    <table id='profile-stats-recent'>
        <tr class='table-header'>
            <td>#</td>
            <td>Word</td>
            <td>Theme</td>
            <td>W/L</td>
        </tr>
        <!-- tr entries should be dynamically filled -->
    </table>
</div>
