<div class="container-fluid">
    <h1>{{user.firstName}} Profile</h1>
    <p>Profile data should be displayed on this page. This includes win percentage, recent games played.
    </p>

    <h4>Profile Statistics</h4>
    <table id='profile-stats-wins'>
        <tr class='table-header'>
            <td>Win Total</td>
            <td>Total Games</td>
            <td>Win Percentage</td>
        </tr>
        <tr>
            <td>{{user.gamesWon.length}}</td>
            <td>{{total}}</td>
            <td>{{win}}%</td>
            
        </tr>
    </table>

    <h4>Recent Games</h4>
    <table id='profile-stats-recent'>
        
        <tr class='table-header'>
            <td>#</td>
            <td>Word</td>
            <td>Theme</td>
            <td>W/L</td>
        </tr>
        {{#each recentGames}}
        <tr>
            <td>@index</td>
            <td>recentGames.word</td>
            <td>recentGames.partOf</td>
            <td>?</td>
        </tr>
        {{/each}}
        <!-- tr entries should be dynamically filled -->

    </table>
</div>
