<div class="container-fluid">
    <h1 class='text-center'>Search Results</h1>
    
    <ul class="user_list"></ul>
        {{#each searchUserList}}
            <li>
                <a href="/dashboard/profile/{{this._id}}">{{this.email}}</a>
            </li>
            {{else}}
            <p>No User found</p>
        {{/each}}
    </ul>
</div>